{# Extends the GOV.UK Design System page template https://design-system.service.gov.uk/styles/page-template #}
{% extends "govuk/template.njk" %}

{% set _cdnImageRootPath = cdnHost + "/images/govuk-frontend/v" + govukFrontendVersion %}
{% if govukRebrand %}
  {% set _cdnImageRootPath = _cdnImageRootPath + "/rebrand" %}
{% endif %}

{# Based on https://github.com/alphagov/govuk-frontend/blob/v5.10.2/packages/govuk-frontend/src/govuk/template.njk#L21-L24 #}
{% block headIcons %}
  <link rel="icon" sizes="48x48" href="{{ _cdnImageRootPath }}/favicon.ico">
  <link rel="icon" sizes="any" href="{{ _cdnImageRootPath }}/favicon.svg" type="image/svg+xml">
  <link rel="mask-icon" href="{{ _cdnImageRootPath }}/govuk-icon-mask.svg" color="{{ themeColor }}">
  <link rel="apple-touch-icon" href="{{ _cdnImageRootPath }}/govuk-icon-180.png">
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ cdnHost }}/stylesheets/govuk-frontend/v{{ govukFrontendVersion }}/govuk-frontend-{{ govukFrontendVersion }}.min.css">
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script type="module">
    import { initAll } from '{{ cdnHost }}/javascripts/govuk-frontend/v{{ govukFrontendVersion }}/govuk-frontend-{{ govukFrontendVersion }}.min.js'
    initAll()
  </script>
{% endblock %}
