{# 
A macro that adds a menu navigation bar with the provided items.
It receives:
- signInHref: the URL of the sign in / register page
- menuItems: a collection of objects representing individual menu items.
    Each object must contain properties with the following keys to build an anchor:
    - id: it's the anchor element id
    - href: the URL of the page the menu item will point to
    - displayText: the text to display in the anchor
- userDisplayText: a text identifying the logged user, e.g. email address or name

The navbar requires importing language files from the locales folder in ch-node-utils
and making them available to all Nunjuck templates using the addGlobal() function in app.ts
It also requires the use of styles provided in the following stylesheet
(you can either add the provided link to the head section or include specific
styles in your own stylesheet)

    <link href="{{ cdnHost }}/stylesheets/ch.gov.uk.css" rel="stylesheet"/>

It also requires the following script to be added to the footer

    <script src="{{ cdnHost }}/javascripts/lib/navbar.js"></script>
#}
{% macro addNavbar(signInHref, menuItems, userDisplayText) %}
    <div class="js-toggle-nav" id="global-nav">
        <nav role="navigation" class="content" aria-label="{{ lang.mainNavbar if lang else 'The main navigation bar' }}">
            {% if userDisplayText %}
                <a href="#navigation" class="js-header-toggle menu">{{ userDisplayText }}
                    <span class="govuk-visually-hidden">{{ lang.clickToExpandOrCollapse if lang else 'Click to expand or collapse' }}</span>
                </a>
            {% else %}
                <a id="user-signin-mobile" href="{{ signInHref }}" class="sign-in govuk-link">{{ lang.signInOrRegister if lang else 'Sign in / Register' }}</a>
            {% endif %}

            <ul id="navigation">
                <li id="signed-in-user" class="user">
                    {{ userDisplayText }}
                </li>
                {% for item in menuItems %}
                    <li>
                        <a class="govuk-link" id="{{ item.id }}" href="{{ item.href }}">{{ item.displayText }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
{% endmacro %}

{# 
A macro that adds a menu navigation bar with predefined items.
It receives:
- userDisplayText: a text identifying the logged user, e.g. email address or name
- chsMonitorGuiUrl: the URL for the 'Companies you follow' link

The navbar requires importing language files from the locales folder in ch-node-utils
and making them available to all Nunjuck templates using the addGlobal() function in app.ts
It also requires the use of styles provided in the following stylesheet
(you can either add the provided link to the head section or include specific
styles in your own stylesheet)

    <link href="{{ cdnHost }}/stylesheets/ch.gov.uk.css" rel="stylesheet"/>

It also requires the following script to be added to the footer

    <script src="{{ cdnHost }}/javascripts/lib/navbar.js"></script>
#}
{% macro addPredefinedNavbar(userDisplayText, chsMonitorGuiUrl) %}
    {% set signInHref = "/signin" %}
    {% set menuItems = [] %}
    {% set menuItems = (menuItems.push({
        id: "your-companies",
        href: "/your-companies",
        displayText: lang.yourCompanies if lang else "Your companies"
    }), menuItems) %}
    {% set menuItems = (menuItems.push({
        id: "authorised-agent",
        href: "/authorised-agent",
        displayText: lang.authorisedAgent if lang else "Authorised agent"
    }), menuItems) %}
    {% set menuItems = (menuItems.push({
        id: "your-filings",
        href: "/user/transactions",
        displayText: lang.yourFilings if lang else "Your filings"
    }), menuItems) %}
    {% set menuItems = (menuItems.push({
        id: "companies-you-follow",
        href: chsMonitorGuiUrl,
        displayText: lang.companiesYouFollow if lang else "Companies you follow"
    }), menuItems) %}
    {% set menuItems = (menuItems.push({
        id: "basket",
        href: "/basket",
        displayText: lang.basket if lang else 
            "Basket"
    }), menuItems) %}
    {% set menuItems = (menuItems.push({
        id: "your-details",
        href: "/user/account",
        displayText: lang.manageAccount if lang else "Manage account"
    }), menuItems) %}
    {% set menuItems = (menuItems.push({
        id: "user-signout",
        href: "/signout",
        displayText: lang.signOut if lang else "Sign out"
    }), menuItems) %}

    {{ addNavbar(signInHref, menuItems, userDisplayText) }}

{% endmacro %}