
{% if templateOptions.baseTemplate %}
  {% extends templateOptions.baseTemplate %}
{% endif %}

{% set pageTitle = templateOptions.whatIsOfficeAddress %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      ADDRESS LIBRARY
      {% include "includes/ad_errors.njk" %}

      <div>
        {% include "includes/ad_proposed-name.njk" %}

        <h1 class="govuk-heading-xl">{{ templateOptions.whatIsOfficeAddress }}</h1>
        <p class="govuk-hint">{{ templateOptions.hint1 }}</p>

        {% if templateOptions.hint2 %}
          <p class="govuk-hint">{{ templateOptions.hint2 }}</p>
        {% endif %}
        {% if templateOptions.hint3 %}
          <p class="govuk-hint">{{ templateOptions.hint3 }}</p>
        {% endif %}
      </div>

      {% include "includes/ad_postcode-form.njk" %}

    <div>
      {{ govukInsetText({
        html: "<h2 class='govuk-heading-m'>" + templateOptions.publicRegisterTitle | escape + "</h2> <p>" + templateOptions.publicRegisterLine1 | escape + "</p>"
      }) }}
    </div>
  </div>

{% endblock %}
